certifi==2022.12.7
chardet==4.0.0
click==8.0.0a1
idna==2.10
importlib-resources==5.1.2
Jinja2==3.0.0a1
MarkupSafe==2.0.0rc1
netaddr==0.8.0
netifaces==0.10.9
pex==2.1.34
requests==2.25.1
tabulate==0.8.9
urllib3==1.26.4
zipp==3.4.1
